---
import {Platform} from "../content/config";
import AppIcon from "./app-icon.astro";
import AppDlButton from "./app-dl-button.astro";
---

<div class="flex flex-col justify-center items-center lg:h-4/5 px-2 lg:py-2 py-20">
  <p class="lg:text-5xl text-xl w-full text-center">TurboMKと一緒につよくなろう！</p>
  <div class="card mt-10 bg-white">
    <img class="card-image" src="/src/assets/cta.png">
    <div class="card-main backdrop-blur-sm bg-white/60 px-10 w-2/5 flex flex-col justify-center z-10">
      <div class="flex justify-start items-center gap-4">
        <AppIcon class="shrink-0 grow-0" size="80"/>
        <div class="my-shadow">
          <h1 class="text-xl">TurboMK</h1>
          <p class="text-sm">for マリオカート</p>
          <p class="text-sm font-normal">無料でダウンロード！</p>
        </div>
      </div>
      <div class="flex justify-between gap-2 mt-2 h-14 w-full">
        <AppDlButton platform={Platform.iOS}/>
        <AppDlButton platform={Platform.Android}/>
      </div>
    </div>
  </div>
</div>

<style lang="sass">
  .card
    position: relative
    display: flex
    justify-content: end
    width: 90vw
    max-width: 1080px
    height: 380px
    overflow: hidden
    border-radius: 16px
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.17)

    .card-image
      position: absolute
      height: 200%
      width: auto
      left: -100px
      top: -40%
      z-index: 0

    @media (max-width: 960px)
      height: auto

      .card-image
        position: absolute
        left: -15%
        top: -40%
        width: 130%
        max-width: unset
        height: auto

      .card-main
        width: 100%
        padding: 16px 8px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 20px
        z-index: 1
        
        > div
          width: 320px
</style>
