---
import { Image } from "astro:assets";
import type {FeatureItem} from "~/types";

const features: Array<FeatureItem> = [
  {
    title: 'リピック対策にもなる！<br>12レースのレース結果を一気に登録',
    description: 'ラウンジ登録画面では、12レースの順位を登録することができます。<br>', 
    imageUrl: '/src/assets/features/lounge_12_race.png'
  },
  {
    title: '打開でどこまで下がるかわかる！<br>アイテムマップ表示',
    description: '', 
    imageUrl: '/src/assets/features/item_map.png'
  },
  {
    title: '3落ちはどのコース？<br>すぐわかるタイムアタック記録一覧！',
    description: '',
    imageUrl: '/src/assets/features/ta_order_by_time.png'
  },
  {
    title: '最新のWR動画をみながら走れる！<br>毎日WR情報を更新',
    description: '', 
    imageUrl: '/src/assets/features/wr_video.png'
  },
  {
    title: 'VRの変動グラフが楽しい！<br>野良レース結果も登録可能',
    description: '', 
    imageUrl: '/src/assets/features/online_nora.png'
  },
]
---

<div>
  {features.map((item) => (
  <div class="w-full lg:h-lvh flex lg:flex-row flex-col">
    <div class="feature-body bg-white lg:w-1/2 w-full lg:py-20 pt-20 pb-10 flex flex-col justify-center items-center">
      <h3 set:html={item.title} class="feature-title" />
    </div>
    <figure class="feature-figure flex-shrink lg:w-1/2 py-10 lg:p-0 w-full flex justify-center items-center">
      <img
        src={item.imageUrl}
        class="feature-image lg:h-2/3 h-auto lg:w-auto w-1/2 lg:mt-20"
        alt={`A screenshot of ${item.title}`}
      />
    </figure>
  </div>
  ))}
</div>

<style lang="sass">
  .feature-body
    min-width: 600px

    @media (max-width: 760px)
      min-width: unset
    
  .feature-title
    font-size: 2rem
    line-height: 2
    text-align: center
    
    @media (max-width: 760px)
      font-size: 1.25rem
      line-height: 1.5


  .feature-figure
    background: #465EFF
</style>
