---
---

<footer class="relative flex flex-col gap-6 h-64 py-10 items-center justify-center">
  <a class="contact flex items-center px-4 py-2 h-20 gap-2 bg-white rounded-2xl" href="https://x.com/app_TurboMK">
    <img class="h-full w-auto" src="/src/assets/x.png" alt="Xのアカウントにアクセス">
    <span>開発者に連絡</span>
  </a>
  <div>
    <a
      href="https://gentle-icon-446.notion.site/TurboMK-eb261e4084bc4d679ba52a45efe53a38?pvs=74">プライバシーポリシー</a>
    <a href="https://gentle-icon-446.notion.site/TurboMK-ade340da1b824c21b3ce40e0e8528360?pvs=74">利用規約</a>
  </div>
  <p>©︎2024 Yoshinobu Motoyashiki</p>
</footer>

<style lang="sass">
  .contact
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.17)
    transition: .3s
    
    &:hover
      color: inherit
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.17)
</style>
