---
import AppIcon from "~/components/app-icon.astro";
import {Platform} from "../content/config";
import AppDlButton from "~/components/app-dl-button.astro";
---

<header
  id="page-header"
  class="fixed lg:top-10 top-4 z-20 w-full"
>
  <div class="header backdrop-blur-sm bg-white/30 flex flex-wrap w-full lg:h-20 items-center justify-between mx-auto lg:px-8 px-2 py-2 rounded-2xl text-black text-opacity-80">
    <a class="flex items-center gap-3 hover:!text-default" href="#">
      <AppIcon
        class="h-14 w-auto"
      />
      <h1 class="text-2xl hidden lg:inline-block">TurboMK</h1>
    </a>
    <div class="flex items-center gap-4 h-full my-2 lg:mt-0">
      <AppDlButton class="lg:h-14 h-10" platform={Platform.iOS}></AppDlButton>
      <AppDlButton class="lg:h-14 h-10" platform={Platform.Android}></AppDlButton>
    </div>
  </div>
</header>

<style lang="sass">
  .header
    width: 90vw
    height: 80px

    @media (max-width: 960px)
      height: auto
</style>
